---
layout: default
title: Top Decks
---
<div class="deckheader"><h1> DFW Top Deck Database</h1></div>


<input id="searchbar" onkeyup="search_deck()" type="text"
        name="search" placeholder="Search decklists by name">
<table id="deckTable">
  <tr class="header">
    <th> Deck Names </th>
    <th> Deck Code </th>
    <th> Decklist Link </th>
    <th> Climax Composition </th>
  {% for deck in site.data.decks.decks %}
    <tr class="decklisting">
      <td>{{ deck.name }}</td>
      {% for link in deck.links %}
      <!-- this is the html line for getting game links -->
      <td><a href={{ link.video }}> {{ link.name }} </a></td>
      {% endfor %}
      <td>{{ deck.code }}</td>
      <td><a href={{ deck.decklogurl }}> Link </a></td>
      <td>{{ deck.climaxes }}</td>
    </tr>
  {% endfor %}
</table>

<p> Gameplay videos will be added as they are available! </p>

<a href="https://cardthrower.github.io/api/decks.json" class="json"> Click here for a JSON file or go to
  https://cardthrower.github.io/api/decks.json. </a>


<script>
  function search_deck() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchbar");
    filter = input.value.toLowerCase();
    table = document.getElementById("deckTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toLowerCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

</script>
