---
layout: default
title: Top Decks
---
<div class="deckheader"><h1>Top Deck Database</h1></div>

<table>
  <tr>
    <th> Deck Names </th>
    <th> Deck Code </th>
    <th> Decklist Link </th>
    <th> Climax Composition </th>
  {% for deck in site.data.decks.decks %}
    <tr>
      <td>{{ deck.name }}</td>
      {% for link in deck.links %}
      <!-- this is the html line for getting game links -->
      <td><a href={{ link.video }}> {{ link.name }} </a></td>
      {% endfor %}
      <td>{{ deck.code }}</td>
      <td><a href={{ deck.decklogurl }}> Link </a></td>
      <td>{{ deck.climaxes }}</td>
    </tr>
  {% endfor %}
</table>
