table, th, td {
  border: 1px solid black;
}
.deckheader{
  text-decoration: underline;
}

#searchbar{
  margine-left:15%;
  padding:15px;
  border-radius: 10px;
}

input[type=text]{
  width:30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
  width: 70%
}
#deckTable tr.header, #deckTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

tr {
  border-radius: 10px;
}
