---
---
@import "main";
@import "deck";

header {
    font-family: sans-serif;
}


body {
    font-family: sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    font-family: sans-serif;
}

div.twitter {
    position: fixed;
    right: 0;
}
