---
---
@import "main";
@import "deck";

header {
    font-family: sans-serif;
}

head {
  background-color: white;
}
body {
    font-family: sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #45a2d0;
}

h1 {
    font-family: sans-serif;
}

div.twitter {
    position: fixed;
    right: 0;
}
